.secondgroup {
    width: 100%;
    height: auto;
    background-color: aliceblue;
    padding: 10%;
}

.interactive {
    position: relative;
    font-size: 80px;
    font-family: inherit;
    font-style: inherit;
    font-weight: bold;
    color: #22193e;
    opacity: 1;

    text-align: center;
}

/*  */
.galaxySplit {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

/*  */


.script1 {
    font-size: 21px;
    color: #5d5f61;
    fill-rule: evenodd;
    /* letter-spacing: -25px; */
    opacity: 1px;
    margin-top: 5%;
    font-weight: bold;


}

.imgplanets {
    width: 50%;
    height: auto;
}

.blank_text {}

.planets {
    margin-top: -20%;
}

.planetimg {
    border-radius: 40px;
    width: 80%;
    margin-left: 10% !important;
    margin-top: 50px;
    height: auto;
}

.storyline {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.story {
    margin-top: 50px;
    /* margin-left: 10%; */
}

.storytitle {
    font-size: 80px;
    font-weight: bold;
    color: #22193e;
    fill-rule: evenodd;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

.storyline p {
    margin: 0;
    padding: 0px;
}

.storycontent {
    font-size: 21px;
    color: #5d5f61;
    opacity: 2;
}




.blanks {
    margin-top: 50px;
}

.blankimg {
    /* margin-right: 100px;
    margin-top: 30px; */
    border-radius: 40px;
    width: 100%;
    height: auto;
}

.imgblank {
    width: 50%;
    height: auto;
}

.originalp {
    /* margin-top: 25%;
    margin-left:200px ; */
}

.story3 {

    margin-left: 20%;
}

.keyboard {
    margin-top: 50px;

}

.thirdgroup {
    height: auto;
    background-color: black;
    padding: 5%;
}

.upgrade {
    /* padding-top: 150px;
    padding-left: 150px; */
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

.upgrade_title {
    margin-bottom: 25px;
}

.upgradetitle {
    margin: 0;
}

.upgradecontent {
    display: flex;
    justify-content: space-between;
}

.contentp {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    color: #5d5f61;
}

.purchasebtn {
    padding-right: 10px;
}

.avartarcontent {
    display: flex;
    font-size: 21px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.lastsale {
    font-size: 21px;
}

.namesize {
    font-size: 23px;
}

.MuiCardContent-root {
    padding: 0 !important;
}

.imgshowblock {
    padding-top: 5%;

}

.nft_item {
    color: red;
}

.MuiCardMedia-img {


    height: auto;
}

.bottombtn {
    padding-left: 47%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.newslettergroup {
    background-color: #22193e;
    height: auto;
    padding: 80px 8%;
}

.newtitle {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.newscontent {
    font-size: 21px;
    color: #5d5f61;
    font-weight: bold;
    padding-top: 60px;
}

.dtinput {
    font-size: 21px;
    color: white;
    font-weight: bold;
}

.subscribebtn {
    padding-top: 50px;
    padding-bottom: 50px;
}

.lastgroup {
    height: auto;
    padding-top: 50px;
}

.lastbrand {
    width: 50%;
}

.lasttitle {
    font-size: 60px;
    font-weight: bold;
    color: #22193e;
    /* padding-left: 100px; */
    text-align: left;
    margin-left: 30px;
}

.lastcontent {
    margin: 0 0 0 60px;
    font-size: 21px;
    color: #22193e;
    opacity: 1;
    text-align: left;
}

.details {
    display: flex;
    margin-top: 2em;
    gap: 30px;
    padding: 0 30px;
}

.details div {
    text-align: left;
}

.infos div:first-child,
.socials div:first-child {
    font-weight: bold;
    color: #22193e;
    margin-top: 10px;
}

.infos,
.socials {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerline {
    margin-top: 100px;
    margin-bottom: 70px;
    ;
}

.nft_symbol {
    font-size: 25px;
}

.nft_price {
    font-size: 18px;
}

.newtitle {

}

@media only screen and (max-width: 1120px) {
    .storycontent {
        font-size: 14px;
        color: #5d5f61;
        opacity: 1;
    }
    .nft_symbol {
        font-size: 19px;
    }
    .nft_price {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .storycontent {
        font-size: 14px;
        color: #5d5f61;
        opacity: 1;
    }
    .nft_symbol {
        font-size: 16px;
    }
    .nft_price {
        font-size: 14px;
    }

    .lastcontent {
        font-size: 14px;
    }
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background-color:white!important;
}
.MuiInputBase-input {
    font: inherit;
    color: white !important;
}

.MuiButton-text {
    padding-left:80px !important;
    padding-right:80px !important;
}
@media screen and (max-width: 400px) {
    .interactive{
        font-size: 50px;
    }
    .script1{
        font-size: 15px;
    }
    .storytitle{
        font-size: 50px;
    }
    .storycontent {
        font-size: 15px;
    }
    .upgrade{
        font-size: 40px;
    }
    .contentp{
        font-size: 15px;
    }
    .newtitle{
        font-size: 60px;
    }
}