.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.statisticsDiv {
  background-color: #271948;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10%;
}

.collection_area {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 47%;
}

.planet {
  font-size: 80px;
  font-weight: bold;
  color: white;
  margin-top: -10%;
}

.collection_area>div {
  width: 100% !important;
}

.btn-group {
  min-height: 100px;
}

.second_header {
  text-align: center;
  margin-top: 40px;
}



.nft_price label {
  color: grey
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .planet {
    font-size: 50px;
  }
}

